<footer id="footer">
  <div>
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div>
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
